# KUIS 2
        Nama  : Annisa Fitri Yuliandra
        Kelas : TI 3B / 09
        NIM   : 2041720123

# KUIS 2 Pembelajaran Mesin

## Tentang dataset

Pada sebuah lembaga kemanusiaan berbasis teknologi informasi, dibentuk beberapa tim kemanusiaan yang bertugas untuk terjun ke masyarakat memberikan bantuan dalam bentuk aplikasi komputer atau layanan pelatihan IT.  Kegiatan tersebut dilaksanakan setiap tahun dengan ketentuan anggota organisasi tersebut dapat bergabung ke beberapa tim sebagai ketua atau anggota. Terdapat pula anggota yang sudah tidak aktif di organisasi tersebut (terhapus di database mereka â€”> label N/A).  Organisasi tersebut juga melakukan rekrutmen volunteer, namun tidak semua tim menggunakan bantuan volunteer. Hasil kegiatan dari setiap tim dapat diwujudkan ke dalam sebuah pengakuan hak cipta atau publikasi karya ilmiah atau publikasi berita di media massa.

## Ketentuan
1. Pengerjaan secara individu alias setiap mahasiswa!
2. Terdapat data dengan nilai #N/A, pertimbangkan cara terbaik untuk mengatasi nilai tersebut.
3. Tidak boleh ada duplikasi pekerjaan antar mahasiswa
4. Berikan penjelasan untuk setiap tahapan. Jangan hanya kode!

## Soal
1. Lakukan pemilahan data training dan testing yang sesuai dan proporsional dari data tersebut! (10 poin)
2. Tentukan data validasi! (10 poin)
3. Tentukan secara tepat kolom yang menjadi "label" (20 poin)
4. Terapkan dua jenis metode klasifikasi dan lakukan perbandingan akurasi  dengan wajib melibatkan variabel keterlibatan volunteer sampai variabel luaran-luaran yang dihasilkan! (20 poin)
5. Lakukan tunning hyperparameter berdasarkan hasil klasifikasi pada nomor 3 menggunakan metode Grid Search dan Random Search! Simpulkan parameter apa yang paling baik digunakan berdasarkan metode klasifikasi yang dipilih, dan berapa akurasinya. (40 poin)

## Preprocessing

In [1]:
import pandas as pd
import numpy as np
df = pd.read_excel('data/dataset_quiz.xlsx')
df.head(100)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,8803.0,8804.0,9102.0,8005.0,9303.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
81,6211.0,8901.0,9003.0,9303.0,9007.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
82,8601.0,8903.0,8703.0,NaN,NaN,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
83,8703.0,8601.0,9202.0,9102.0,6204.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
84,8102.0,7109.0,5903.0,7206.0,8903.0,NaN,TIDAK,0,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

### Drop kolom yang tidak berpengaruh

In [2]:
# dalam data tersebut yaitu pada kolom keterlibatan_vltr, luaran_hki, dan luaran_lain dijelaskan lebih rinci pada kolom sesudahnya.
# jadi kolom tersebut tidak terlalu berpengaruh.
df.drop('keterlibatan_vltr', axis=1, inplace=True)
df.drop('luaran_hki', axis=1, inplace=True)
df.drop('luaran_lain', axis=1, inplace=True)
df

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,jml_vltr_terlibat,tahun,skema,jenis_luaran_hki,potensi_hki,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,NaN,0,2019,REGULER,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,NaN,0,2019,REGULER,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,NaN,0,2019,REGULER,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,NaN,0,2019,REGULER,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,NaN,0,2019,REGULER,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,8803.0,8804.0,9102.0,8005.0,9303.0,NaN,3,2022,REGULER,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA
81,6211.0,8901.0,9003.0,9303.0,9007.0,NaN,3,2022,REGULER,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA
82,8601.0,8903.0,8703.0,NaN,NaN,NaN,3,2022,REGULER,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA
83,8703.0,8601.0,9202.0,9102.0,6204.0,NaN,3,2022,REGULER,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA
84,8102.0,7109.0,5903.0,7206.0,8903.0,NaN,0,2022,REGULER,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA

### Mengecek Missing Value

In [3]:
# Dari data di atas, telah ditemukan beberapa nilai kosong atau missing value.
# Untuk pengecekan secara mendetail yaitu dengan :
print(f'Jumlah data missing value : \n{df.isnull().sum()}\n\n')
print(f'Jumlah data yang tidak kosong : \n{df.notna().sum()}')

Jumlah data missing value :
id_ketua               3
id_anggota1            5
id_anggota2            4
id_anggota3            3
id_anggota4           13
id_anggota5           84
jml_vltr_terlibat      0
tahun                  0
skema                  0
jenis_luaran_hki       0
potensi_hki            0
jenis_luaran_lain      0
status_luaran_lain     0
dtype: int64


Jumlah data yang tidak kosong :
id_ketua              82
id_anggota1           80
id_anggota2           81
id_anggota3           82
id_anggota4           72
id_anggota5            1
jml_vltr_terlibat     85
tahun                 85
skema                 85
jenis_luaran_hki      85
potensi_hki           85
jenis_luaran_lain     85
status_luaran_lain    85
dtype: int64

### Mengisi Missing Value dengan Mean

In [4]:
# Diketahui hasil di atas menunjukkan bahwa di setiap baris dan kolom tidak semuanya terdapat missing value.
# Missing value terjadi pada kolom id_ketua sampai id_anggota5, ini dikarenakan penghapusan anggota yang tidak aktif.
# Missing value ini dapat disebut dengan hilang secara tidak acak atau Missing Not At Random (MNAR).
# Jadi, menurut saya hal ini kemungkinan akan mempengaruhi data.
# Akan lebih baik data yang hilang dilakukan Imputation.

# Metode Data Frame : fillna() dengan mean() yaitu mengisi data kosong dengan rata-rata data kolom.
df['id_ketua'].fillna(df['id_ketua'].mean(), inplace=True)
df['id_anggota1'].fillna(df['id_anggota1'].mean(), inplace=True)
df['id_anggota2'].fillna(df['id_anggota2'].mean(), inplace=True)
df['id_anggota3'].fillna(df['id_anggota3'].mean(), inplace=True)
df['id_anggota4'].fillna(df['id_anggota4'].mean(), inplace=True)
df['id_anggota5'].fillna(df['id_anggota5'].mean(), inplace=True)
df.head()

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,jml_vltr_terlibat,tahun,skema,jenis_luaran_hki,potensi_hki,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,8812.0,0,2019,REGULER,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,8812.0,0,2019,REGULER,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,8812.0,0,2019,REGULER,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,8812.0,0,2019,REGULER,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,8812.0,0,2019,REGULER,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA

In [5]:
print(f'Info : \n{df.info()}\n\n')
print(f'Deskrisi : \n{df.describe()}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_ketua            85 non-null     float64
 1   id_anggota1         85 non-null     float64
 2   id_anggota2         85 non-null     float64
 3   id_anggota3         85 non-null     float64
 4   id_anggota4         85 non-null     float64
 5   id_anggota5         85 non-null     float64
 6   jml_vltr_terlibat   85 non-null     int64
 7   tahun               85 non-null     int64
 8   skema               85 non-null     object
 9   jenis_luaran_hki    85 non-null     object
 10  potensi_hki         85 non-null     object
 11  jenis_luaran_lain   85 non-null     object
 12  status_luaran_lain  85 non-null     object
dtypes: float64(6), int64(2), object(5)
memory usage: 8.8+ KB
Info :
None


Deskrisi :
          id_ketua  id_anggota1  id_anggota2  id_anggota3  id_anggota4  \
count    85.000000    85.000000    85.000000    85.000000    85.000000
mean   7954.890244  8156.162500  8266.012346  8419.048780  8572.388889
std     850.432817  1142.723422  1437.706271  1082.543938  1045.941346
min    5903.000000   569.000000   569.000000   569.000000   569.000000
25%    7706.000000  7607.000000  7903.000000  8101.000000  8572.388889
50%    8102.000000  8305.000000  8704.000000  8702.000000  8901.000000
75%    8602.000000  8901.000000  8907.000000  8905.000000  9003.000000
max    9209.000000  9402.000000  9402.000000  9303.000000  9303.000000

       id_anggota5  jml_vltr_terlibat        tahun
count         85.0          85.000000    85.000000
mean        8812.0           1.341176  2020.611765
std            0.0           1.452034     1.155670
min         8812.0           0.000000  2019.000000
25%         8812.0           0.000000  2020.000000
50%         8812.0           0.000000  2021.000000
75%         8812.0           3.000000  2022.000000
max         8812.0           4.000000  2022.000000

## Metode Pembagian Data

### Random Split

In [6]:
# Split data
from sklearn.model_selection import train_test_split

# Split data training dan dan lainnya
# data lainnya, akan kita split lagi menjadi validasi dan testing.
# Rasio yang akan kita gunakan adalah 8:1:1
df_train, df_unseen = train_test_split(df, test_size=0.2, random_state=0)

# Split lagi antara validasi dan testing
df_val, df_test = train_test_split(df_unseen, test_size=0.5, random_state=0)

# Cek masing-masing ukuran data

print(f'Jumlah data asli: {df.shape[0]}')
print(f'Jumlah data train: {df_train.shape[0]}')
print(f'Jumlah data val: {df_val.shape[0]}')
print(f'Jumlah data test: {df_test.shape[0]}')

# Cek rasio tiap label
# Hak Cipta
print('=================================')
print(f'Jumlah label data asli:\n{df.jenis_luaran_hki.value_counts()}')
print(f'Jumlah label data train:\n{df_train.jenis_luaran_hki.value_counts()}')
print(f'Jumlah label data val:\n{df_val.jenis_luaran_hki.value_counts()}')
print(f'Jumlah label data test:\n{df_test.jenis_luaran_hki.value_counts()}')
# Publikasi
print('=================================')
print(f'Jumlah label data asli:\n{df.jenis_luaran_lain.value_counts()}')
print(f'Jumlah label data train:\n{df_train.jenis_luaran_lain.value_counts()}')
print(f'Jumlah label data val:\n{df_val.jenis_luaran_lain.value_counts()}')
print(f'Jumlah label data test:\n{df_test.jenis_luaran_lain.value_counts()}')
# Status
print('=================================')
print(f'Jumlah label data asli:\n{df.status_luaran_lain.value_counts()}')
print(f'Jumlah label data train:\n{df_train.status_luaran_lain.value_counts()}')
print(f'Jumlah label data val:\n{df_val.status_luaran_lain.value_counts()}')
print(f'Jumlah label data test:\n{df_test.status_luaran_lain.value_counts()}')

Jumlah data asli: 85
Jumlah data train: 68
Jumlah data val: 8
Jumlah data test: 9
=================================
Jumlah label data asli:
TIDAK ADA    77
Hak Cipta     8
Name: jenis_luaran_hki, dtype: int64
Jumlah label data train:
TIDAK ADA    60
Hak Cipta     8
Name: jenis_luaran_hki, dtype: int64
Jumlah label data val:
TIDAK ADA    8
Name: jenis_luaran_hki, dtype: int64
Jumlah label data test:
TIDAK ADA    9
Name: jenis_luaran_hki, dtype: int64
=================================
Jumlah label data asli:
TIDAK ADA                69
Artikel Ilmiah           10
Publikasi Media Massa     5
Modul Ajar                1
Name: jenis_luaran_lain, dtype: int64
Jumlah label data train:
TIDAK ADA                55
Artikel Ilmiah            8
Publikasi Media Massa     5
Name: jenis_luaran_lain, dtype: int64
Jumlah label data val:
TIDAK ADA         5
Artikel Ilmiah    2
Modul Ajar        1
Name: jenis_luaran_lain, dtype: int64
Jumlah label data test:
TIDAK ADA    9
Name: jenis_luaran_lain, dtype: int64
=================================
Jumlah label data asli:
TIDAK ADA       70
Terpublikasi    13
Draft            2
Name: status_luaran_lain, dtype: int64
Jumlah label data train:
TIDAK ADA       55
Terpublikasi    11
Draft            2
Name: status_luaran_lain, dtype: int64
Jumlah label data val:
TIDAK ADA       6
Terpublikasi    2
Name: status_luaran_lain, dtype: int64
Jumlah label data test:
TIDAK ADA    9
Name: status_luaran_lain, dtype: int64

Untuk beberapa pembagian data masih terdapat ketidaksama-rataan label, atau masih ada data yang belum memiliki label lain.

### Stratified Split

In [7]:
# Split data
from sklearn.model_selection import train_test_split

# Split data training dan dan lainnya
# data lainnya, akan kita split lagi menjadi validasi dan testing.
# Rasio yang akan kita gunakan adalah 8:1:1
df_train, df_unseen = train_test_split(df, test_size=0.2, random_state=0, stratify=df['status_luaran_lain'])

# Split lagi antara validasi dan testing
df_val, df_test = train_test_split(df_unseen, test_size=0.5, random_state=0, stratify=df_unseen['status_luaran_lain'])

# Cek masing-masing ukuran data

print(f'Jumlah label data asli:\n{df.status_luaran_lain.value_counts()}')
print(f'Jumlah label data train:\n{df_train.status_luaran_lain.value_counts()}')
print(f'Jumlah label data val:\n{df_val.status_luaran_lain.value_counts()}')
print(f'Jumlah label data test:\n{df_test.status_luaran_lain.value_counts()}')

Jumlah label data asli:
TIDAK ADA       70
Terpublikasi    13
Draft            2
Name: status_luaran_lain, dtype: int64
Jumlah label data train:
TIDAK ADA       56
Terpublikasi    10
Draft            2
Name: status_luaran_lain, dtype: int64
Jumlah label data val:
TIDAK ADA       7
Terpublikasi    1
Name: status_luaran_lain, dtype: int64
Jumlah label data test:
TIDAK ADA       7
Terpublikasi    2
Name: status_luaran_lain, dtype: int64

penggunaan Stratified Split lebih efektif dari random split untuk pembagian label secara merata.

### K-Fold Cross Validation

In [8]:
from sklearn import preprocessing
label = preprocessing.LabelEncoder()
df['tahun'] = label.fit_transform(df['tahun'])
df['skema'] = label.fit_transform(df['skema'])
df['jenis_luaran_hki'] = label.fit_transform(df['jenis_luaran_hki'])
df['potensi_hki'] = label.fit_transform(df['potensi_hki'])
df['jenis_luaran_lain'] = label.fit_transform(df['jenis_luaran_lain'])
df['status_luaran_lain'] = label.fit_transform(df['status_luaran_lain'])
df

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,jml_vltr_terlibat,tahun,skema,jenis_luaran_hki,potensi_hki,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.00000,7801.000000,8812.0,0,0,1,1,2,3,1
1,7214.0,7109.0,8402.0,7903.00000,9202.000000,8812.0,0,0,1,1,2,3,1
2,5911.0,8201.0,8701.0,9101.00000,9003.000000,8812.0,0,0,1,1,2,3,1
3,8402.0,7702.0,8602.0,8903.00000,8903.000000,8812.0,0,0,1,1,2,3,1
4,8201.0,8305.0,5911.0,5903.00000,8402.000000,8812.0,0,0,1,1,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,8803.0,8804.0,9102.0,8005.00000,9303.000000,8812.0,3,3,1,1,2,3,1
81,6211.0,8901.0,9003.0,9303.00000,9007.000000,8812.0,3,3,1,1,2,3,1
82,8601.0,8903.0,8703.0,8419.04878,8572.388889,8812.0,3,3,1,1,2,3,1
83,8703.0,8601.0,9202.0,9102.00000,6204.000000,8812.0,3,3,1,1,2,3,1
84,8102.0,7109.0,5903.0,7206.00000,8903.000000,8812.0,0,3,1,1,2,3,1

In [9]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

print(x)
print(y)

    id_ketua  id_anggota1  id_anggota2  id_anggota3  id_anggota4  id_anggota5  \
0     7206.0       7214.0       6211.0   8602.00000  7801.000000       8812.0
1     7214.0       7109.0       8402.0   7903.00000  9202.000000       8812.0
2     5911.0       8201.0       8701.0   9101.00000  9003.000000       8812.0
3     8402.0       7702.0       8602.0   8903.00000  8903.000000       8812.0
4     8201.0       8305.0       5911.0   5903.00000  8402.000000       8812.0
..       ...          ...          ...          ...          ...          ...
80    8803.0       8804.0       9102.0   8005.00000  9303.000000       8812.0
81    6211.0       8901.0       9003.0   9303.00000  9007.000000       8812.0
82    8601.0       8903.0       8703.0   8419.04878  8572.388889       8812.0
83    8703.0       8601.0       9202.0   9102.00000  6204.000000       8812.0
84    8102.0       7109.0       5903.0   7206.00000  8903.000000       8812.0

    jml_vltr_terlibat  tahun  skema  jenis_luaran_hki  potensi_hki  \
0                   0      0      1                 1            2
1                   0      0      1                 1            2
2                   0      0      1                 1            2
3                   0      0      1                 1            2
4                   0      0      1                 1            2
..                ...    ...    ...               ...          ...
80                  3      3      1                 1            2
81                  3      3      1                 1            2
82                  3      3      1                 1            2
83                  3      3      1                 1            2
84                  0      3      1                 1            2

    jenis_luaran_lain
0                   3
1                   3
2                   3
3                   3
4                   3
..                ...
80                  3
81                  3
82                  3
83                  3
84                  3

[85 rows x 12 columns]
0     1
1     1
2     1
3     1
4     1
     ..
80    1
81    1
82    1
83    1
84    1
Name: status_luaran_lain, Length: 85, dtype: int32

In [10]:
from sklearn.model_selection import RepeatedKFold

# inisiasi repated k-fold
cv = RepeatedKFold(n_splits=4, n_repeats=3, random_state=42)

#### Decision Tree

In [11]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV

# inisiasi model
dt = DecisionTreeClassifier()
params = {'max_depth': list(range(5,11)),
          'criterion': ['gini', 'entropy', 'log_loss'],
          'splitter' : ['best', 'random']}
rs = RandomizedSearchCV(dt, params, cv=cv, n_jobs=-1)
%time rs.fit(x,y)
score = rs.score(x,y)
print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter: {rs.best_params_}')

Wall time: 3.67 s
Hasil evaluasi: 1.0
Konfigurasi hyperparameter: {'splitter': 'best', 'max_depth': 6, 'criterion': 'log_loss'}

In [12]:
from sklearn.model_selection import GridSearchCV

# inisiasi grid berdasarkan nilai repeated k-fold dan hyperparameter
grid = GridSearchCV(dt, param_grid=params, cv=cv,n_jobs=-1)

# Fit / latih berdasarkan grid
# %timeit merupakan magic command didalam ipython notebook
# yang dapat kita gunakan untuk menghitung waktu komputasi
# cara ini cukup efektif untuk melakukan evaluasi suatu algoritma atau prosedur
%timeit grid.fit(x, y)

# Evaluasi dengan score
score_gs = grid.score(x,y)

print(f'Hasil evaluasi: {score_gs}')
print(f'Konfigurasi hyperparameter: {grid.best_params_}')

505 ms Â± 42.1 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 1.0
Konfigurasi hyperparameter: {'criterion': 'log_loss', 'max_depth': 8, 'splitter': 'random'}

#### SVC

In [13]:
from sklearn.svm import SVC
from sklearn.model_selection import RandomizedSearchCV
svc = SVC()
params_svc ={
    'kernel': ['rbf', 'linear', 'poly'],
    'C': [1,5,10,50,100],
    'degree': [1,3,5,7,9]
}
rs_svc = RandomizedSearchCV(svc, params_svc, cv=cv, n_jobs=-1)
%time rs_svc.fit(x,y)
score_rs = rs_svc.score(x,y)
print(f'Hasil evaluasi: {score_rs}')
print(f'Konfigurasi hyperparameter: {rs_svc.best_params_}')

Wall time: 4.68 s
Hasil evaluasi: 0.8235294117647058
Konfigurasi hyperparameter: {'kernel': 'poly', 'degree': 1, 'C': 10}

In [15]:
from sklearn.model_selection import GridSearchCV

# inisiasi grid berdasarkan nilai repeated k-fold dan hyperparameter
grid_gs = GridSearchCV(svc, param_grid=params_svc, cv=cv,n_jobs=-1)

# Fit / latih berdasarkan grid
# %timeit merupakan magic command didalam ipython notebook
# yang dapat kita gunakan untuk menghitung waktu komputasi
# cara ini cukup efektif untuk melakukan evaluasi suatu algoritma atau prosedur
%timeit grid_gs.fit(x, y)

# Evaluasi dengan score
score_gs_svc = grid_gs.score(x,y)

print(f'Hasil evaluasi: {score_gs_svc}')
print(f'Konfigurasi hyperparameter: {grid_gs.best_params_}')

1min 30s Â± 493 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 0.8235294117647058
Konfigurasi hyperparameter: {'C': 1, 'degree': 1, 'kernel': 'rbf'}